* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/tic-tac-toe.jpg);
  background-size: contain;
}

.tic-tac-toe-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 3px solid #333;
  background-color: rgba(255, 255, 255, 0.9);
}

.row {
  display: flex;
  width: 100%;
}

.square {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Xsquare {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: orange;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.XsquareLastTurn {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Osquare {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: blue;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.OsquareLastTurn {
  width: 100px;
  height: 100px;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  color: white;
}
